<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>
	<meta name="author" content="Jim Myhrberg" />
   <link href="http://feeds.feedburner.com/jimeh" rel="alternate" title="jimeh / blog" type="application/atom+xml" />
	
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
	<script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
	
{% include open_id.html %}
	
</head>

<body>

{% include ga.html %}
	
<div id="universe">

	<div id="header">
		<div id="title">
			<a href="/">about</a>
		</div>
		<div id="navigation">
			<a href="/" class="selected">about</a>
			<a href="/blog/">blog</a>
		</div>
		<div class="clear"></div>
	</div>

{{ content }}

</div>

</body>
</html>
