{% include _head.html %}

<div id="universe">
	
	<div id="header">
		<div id="title">
			<a href="/blog/">blog</a>
		</div>
		<div id="navigation">
			<a href="/">about</a>
			<a href="/blog/" class="selected">blog</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="post-world">
		{{ content }}
	</div>
	
	{% include sidebar.html %}
	
	<div class="post-paginator">
		{% if paginator.total_pages > paginator.page %}
			<a href="/blog/page{{ paginator.next_page }}/" class="older">&larr; older</a>
		{% endif %}
		{% if paginator.page > 1 %}
			{% if paginator.previous_page == 1 %}
				<a href="/blog/" class="newer">newer &rarr;</a>
			{% else %}
				<a href="/blog/page{{ paginator.previous_page }}" class="newer">newer &rarr;</a>
			{% endif %}
		{% endif %}
		<a href="/blog/archive/">archive</a><br />
		<a href="http://feeds.feedburner.com/jimeh">rss</a>
	</div>
	
</div>

{% include _foot.html %}