{% include _head.html %}

<div id="universe">
	
	<div id="header">
		<div id="title">
			<!-- <a href="/blog/">blog</a> / article -->
		</div>
		<div id="navigation">
			<a href="/">about</a>
			<a href="/blog/" class="selected">blog</a>
			<a href="http://lifefeed.jimeh.me/">life feed</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="post-world">
		<div class="post-item">
			<div class="post-meta">
			    <p class="date">{{ page.date | date: "<i>%d</i><b>%b</b>" }}</p>
			</div>

			<h1 class="post-title">
				{{ page.title }}
				<div class="post-title-sub">
					by Jim Myhrberg – tags:
					{% for tag in page.categories %} <a href="/blog/tag/{{tag}}/" rel="tag"><i class="hash">#</i>{{tag}}</a>{% if forloop.last != true %},{% endif %}{% endfor %}
				</div>
			</h1>

			<div class="post-content">
				{{ content }}
			</div>
			
			<div class="post-comments">
				<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/jimeh/embed.js"></script><noscript><a href="http://disqus.com/forums/jimeh/?url=ref">View the discussion thread.</a></noscript>
			</div>
		</div>
	</div>
	
	{% include sidebar.html %}
	
	{% include paginator-empty.html %}
	
</div>

{% include _foot.html %}
