{% include _head.html %}

<div id="universe">
	
	<div id="header">
		<div id="title">
			<!-- <a href="/blog/">blog</a> /  -->archive
		</div>
		<div id="navigation">
			<a href="/">about</a>
			<a href="/blog/" class="selected">blog</a>
			<a href="http://lifefeed.jimeh.me/">life feed</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="post-world">
		{{ content }}
	</div>
	
	{% include sidebar.html %}
	
	<div class="post-paginator">
		<a href="http://feeds.feedburner.com/jimeh">rss</a>
	</div>
	
</div>

{% include _foot.html %}
