
@font-face {
	font-family: 'Colaborate-ThinRegular';
	src: url('/resources/fonts/ColabThi.eot');
	src: local('Colaborate-Thin Regular'), local('Colaborate-Thin'), url('/resources/fonts/ColabThi.ttf') format('truetype');
}

@font-face {
	font-family: 'ColaborateLightRegular';
	src: url('/resources/fonts/ColabLig.eot');
	src: local('ColaborateLight Regular'), local('Colaborate-Light'), url('/resources/fonts/ColabLig.ttf') format('truetype');
}

@font-face {
	font-family: 'Colaborate-RegularRegular';
	src: url('/resources/fonts/ColabReg.eot');
	src: local('Colaborate-Regular Regular'), local('Colaborate-Regular'), url('/resources/fonts/ColabReg.ttf') format('truetype');
}

@font-face {
	font-family: 'Colaborate-MediumRegular';
	src: url('/resources/fonts/ColabMed.eot');
	src: local('Colaborate-Medium Regular'), local('Colaborate-Medium'), url('/resources/fonts/ColabMed.ttf') format('truetype');
}

@font-face {
	font-family: 'Colaborate-BoldRegular';
	src: url('/resources/fonts/ColabBol.eot');
	src: local('Colaborate-Bold Regular'), local('Colaborate-Bold'), url('/resources/fonts/ColabBol.ttf') format('truetype');
}


@font-face {
	font-family: 'DejaVuSansMonoBook';
	src: url('/resources/fonts/DejaVuSansMono.eot');
	src: local('DejaVu Sans Mono Book'), local('DejaVuSansMono'), url('/resources/fonts/DejaVuSansMono.ttf') format('truetype');
}

@font-face {
	font-family: 'DejaVuSansMonoOblique';
	src: url('/resources/fonts/DejaVuSansMono-Oblique.eot');
	src: local('DejaVu Sans Mono Oblique'), local('DejaVuSansMono-Oblique'), url('/resources/fonts/DejaVuSansMono-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'DejaVuSansMonoBold';
	src: url('/resources/fonts/DejaVuSansMono-Bold.eot');
	src: local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold'), url('/resources/fonts/DejaVuSansMono-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'DejaVuSansMonoBoldOblique';
	src: url('/resources/fonts/DejaVuSansMono-BoldOblique.eot');
	src: local('DejaVu Sans Mono Bold Oblique'), local('DejaVuSansMono-BoldOblique'), url('/resources/fonts/DejaVuSansMono-BoldOblique.ttf') format('truetype');
}
