/* @override http://new.jimeh.meh/stylesheets/screen.css */

/*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}*/

body {
	background: #fff;
}


li p, li ul {
	margin-bottom: 0px;
}


#universe {
	margin: 0px auto;
	width: 980px;
}


#header {
	
}

#title {
	float: left;
}

#navigation {
	font-size: 15px;
	float: right;
	margin: 20px 0px 20px 0px;
}
	#navigation a {
		color: #939393;
		margin: 0px 15px;
		text-decoration: none;
	}
		#navigation a:hover {
			border: none;
			text-decoration: none;
		}
		#navigation a.selected {
			color: #1193F6;
		}


.post-world {
	margin: 0px 50px;
}

.post-item {
	margin-bottom: 80px;
}

.post-meta {
	float: left;
	width: 40px;
	margin-top: -5px;
	margin-left: -50px;
	border-right: 1px solid #E6E6E6;
}
	.post-meta p {
		margin: 0px;
	}
	.post-meta .date {
		color: #cdcdcd;
		text-align: center;
		line-height: 1.1em;
		margin: 8px 0px 5px 0px;
	}
		.post-meta .date i {
			font-style: normal;
			font-size: 24px;
			display: block;
		}
		.post-meta .date b {
			font-family: 'ColaborateLightRegular', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
			font-weight: normal;
			font-size: 14px;
			display: block;
		}

.post-title {
	
}
	.post-title a {
		color: #000;
	}


.post-comment-link {
	
}
	.post-comment-link a {
		color: #939393;
	}





