<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>
	<meta name="author" content="Jim Myhrberg" />
   <link href="http://jimeh.me/blog/atom.xml" rel="alternate" title="jimeh.me" type="application/atom+xml" />
	
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
	<link rel="openid.server" href="http://www.myopenid.com/server" />
	<link rel="openid.delegate" href="http://jimeh.myopenid.com/" />
	<link rel="openid2.local_id" href="http://jimeh.myopenid.com" />
	<link rel="openid2.provider" href="http://www.myopenid.com/server" />
	<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=jimeh.myopenid.com" />
	
</head>

<body>

{% include ga.html %}
	
<div id="universe">

	<div id="header">
		<div id="title">
			<a href="/">about</a>
		</div>
		<div id="navigation">
			<a href="/" class="selected">about</a>
			<a href="/blog/">blog</a>
		</div>
		<div class="clear"></div>
	</div>

{{ content }}

</div>

</body>
</html>
