<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>
	<meta name="author" content="Jim Myhrberg" />
	<link href="http://feeds.feedburner.com/jimeh" rel="alternate" title="jimeh / blog" type="application/atom+xml" />
	
	<link rel="stylesheet" href="/stylesheets/master.css?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/webkit-scrollbar.css?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/resources/fancybox/fancybox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script src="/javascripts/libs.js?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/main.js?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/webkit-scrollbar.js?{{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/javascript" charset="utf-8"></script>
	
</head>

<body>
<div id="debug"></div>
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-354018-11']);
	_gaq.push(['_trackPageview']);

	(function() {
		if (document.location.host.indexOf("jimeh.meh") == -1) {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);	
		};
	})();

</script>