<div class="sidebar">
	<div class="about-me">
		<h1>&nbsp;</h1>
		<a href="http://gravatar.com/avatar/c48498c82bfaf0c6c8843ba85e3cd598.jpg?s=354" class="fancybox no-title avatar"><img src="http://gravatar.com/avatar/c48498c82bfaf0c6c8843ba85e3cd598.jpg?s=50" alt="" /></a>
		<div class="description">
			<p>
				I'm a web-developer / designer, and every morning I sprinkle a little
				bit of insanity over my breakfast bowl of creativity and inspiration.
			</p>
			<div class="clear"></div>
			<dl class="labels">
				<dt>email</dt>
				<dd><script type="text/javascript">document.write(
"<n uers=\"znvygb:pbagnpg\100wvzru\056zr\" bapyvpx=\"_tnd\056chfu(['_genpxRirag', 'yvaxGb', 'rznvy', guvf\056uers]);\">pbagnpg\100wvzru\056zr<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script></dd>
				<dt>vcard</dt>
				<dd><a href="/vcard" onclick="_gaq.push(['_trackEvent', 'download', 'vcard', '.vcf']);">download</a></dd>
				<dt>resume</dt>
				<dd>
					<a href="/resume/jim-myhrberg-resume.pdf" onclick="_gaq.push(['_trackEvent', 'download', 'resume', '.pdf']);">pdf</a>
				</dd>
				<dt><a href="http://www.google.com/search?q=jimeh%20%22Jim%20Myhrberg%22" onclick="_gaq.push(['_trackEvent', 'linkTo', 'google', this.href]);">more</a></dt>
				<dd>
					<a href="http://twitter.com/jimeh" onclick="_gaq.push(['_trackEvent', 'linkTo', 'twitter', this.href]);">twitter</a>,
					<a href="http://github.com/jimeh" onclick="_gaq.push(['_trackEvent', 'linkTo', 'github', this.href]);">github</a>,
					<a href="http://www.facebook.com/jimeh" onclick="_gaq.push(['_trackEvent', 'linkTo', 'facebook', this.href]);">facebook</a>,
					<a href="http://www.linkedin.com/in/jimmyhrberg" onclick="_gaq.push(['_trackEvent', 'linkTo', 'linkedin', this.href]);">linkedin</a>,
					<br />
					<a href="http://www.flickr.com/photos/jimeh/" onclick="_gaq.push(['_trackEvent', 'linkTo', 'flickr', this.href]);">flickr</a>,
					<a href="http://www.last.fm/user/jimeh" onclick="_gaq.push(['_trackEvent', 'linkTo', 'last.fm', this.href]);">last.fm</a>,
					<a href="http://delicious.com/jimeh" onclick="_gaq.push(['_trackEvent', 'linkTo', 'del.icio.us', this.href]);">del.icio.us</a>,
					<a href="http://jimeh.deviantart.com" onclick="_gaq.push(['_trackEvent', 'linkTo', 'deviantart', this.href]);">deviantart</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="section recent-articles">
		<h2>Recent Articles</h2>
		<dl class="labels">
			{% for post in site.posts limit:8 %}
				<dt>{{ post.date | date: "%d %b" }}</dt>
				<dd><a href="/blog{{ post.url }}" class="title">{{ post.title }}</a></dd>
			{% endfor %}
			<dt>&nbsp;</dt>
			<dd><a href="/blog/archive/">See All &rarr;</a></dd>
		</dl>
	</div>
</div>

<div class="clear"></div>